pandas==1.5.3
numpy==1.23.5
scikit-learn==1.2.2
matplotlib==3.6.3
seaborn==0.12.2

xgboost==1.7.5
joblib==1.2.0

cloudscraper==1.2.71
beautifulsoup4==4.11.2
lxml==4.9.2
tqdm==4.64.1

flake8==6.0.0
pre-commit==3.1.0

jupyter==1.0.0
ipykernel==6.20.2